.App {
  text-align: center;
  align-items: center;
  height: 100%;
  widows: 100%;
}
body{
  height:100%;
  /* background-image: url("Image/[Anitoki]_Gamers__03_[720p]_[60AB5405].mkv_snapshot_06.36_[2017.08.06_08.57.11].jpg"); */

}
